* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {outline: none;}

a:focus,a:active{outline: none;}

nav,footer,header,aside {display: block;}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}

button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}

a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}

ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}

.example-block{
  padding: 20px 100px 10px 300px;
  border: 2px solid #0aadfc;
}

.example-block2{
  padding: 100px 300px;
  border: 2px solid #0aadaf;
}

.example-block3{
  padding: 5%;
  border: 2px solid #0fcf0f;
}

.example-block4{
  margin: 5% -10px;
  border: 2px solid #daf;
}

.example-block5{
  width: 300px;
  border: 2px solid #d0f;
}
.example-block6{
  max-width: 1000px;
  border: 2px solid #b52;
}
.example-block7{
  min-width: 1000px;
  border: 2px solid #752;
}

.example-block8{
  height: 300px;
  border: 2px solid #90f;
}
.example-block9{
  max-height: 50px;
  border: 2px solid #b92;
}
.example-block10{
  min-height: 50px;
  border: 2px solid #552;
}

.example-block11{
  overflow: hidden;
  max-height: 50px;
  border: 2px solid #522;
}

.example-block12{
  overflow: visible;
  max-height: 50px;
  border: 2px solid #222;
}

.example-block13{
  overflow: scroll;
  max-height: 50px;
  border: 2px solid #602;
}

.example-block14{
  overflow: auto;
  max-height: 50px;
  border: 2px solid #902;
}

.example-string{
  padding: 20px;
}
.example-string2{
  width: 50px;
}
.example-string3{
  width:100%;
  max-width: 10px;
  min-width: 10px;
}

.example-string4{
  height: 70px;
}
.example-string5{
  height:100%;
  max-height: 170px;
  min-height: 70px;
}
.example-string6{
  display: block;
  padding: 20px;
  margin: 20px;
  width: 1000px;
  min-height: 100px;
  border: 2px solid #123;
}
.example-string7{
  display: inline;
  padding: 20px;
  margin: 20px;
  width: 1000px;
  min-height: 100px;
  border: 2px solid #123;
}

.example-string9{ /*deleted element*/
  display: none;
  padding: 20px;
  margin: 20px;
  width: 1000px;
  min-height: 100px;
  border: 2px solid #123;
}


.example-string8{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 1000px;
  min-height: 100px;
  border: 2px solid #123;
}
